{% extends 'layout.html' %}
{% block content %}
<div class="table-responsive">
    <h1> Lista: {{ tarea.name }}</h1>
    <h3> Fecha: {{ tarea.date.strftime('%d/%m/%Y') }}</h3>
    <a href="{{ url_for('eliminar_tarea', id_tarea=tarea.id) }}">Eliminar lista</a>
    <br>
    <a href="{{ url_for('addtask' list_id=tarea.id) }}">Agregar una tarea a esta lista</a>


    <table class="table table-hover manage-u-table">
        <thead>
            <tr>
                <th width="70" class="text-center">#</th>
                <th>Tarea</th>
                <th>Fecha</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tarea.tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>
                        {{ task.task }}
                    </td>
                    <td>
                        {{ task.date }}
                    </td>

                    <td>
                        <a href="{{ url_for('deletetask', id_tarea=task.id) }}" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-trash"></i></a>
                        <a href="{{ url_for('edittask', id_tarea=task.id) }}" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil"></i></a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}