{% extends 'layout.html' %}
{% from 'helpers/_formHelper.html' import render_field %}
{% block content %}
<section id="wrapper" class="login-register">
    <div class="login-box login-sidebar">
        <div class="white-box">
            <form class="form-horizontal form-material" name="cargarprovedor" id="provedorform" {% if provedor %} action="{{ url_for('modificar_provedor',id_provedor=provedor) }}" {% else %} action="{{ url_for('cargar_provedor') }}" {% endif %} method="POST">
                <h3 class="box-title m-t-40 m-b-0 text-center">Cargar Provedor</h3>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        {{render_field(form.nombre, class="form-control", placeholder="Provedor")}}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        {{render_field(form.direccion, class="form-control", placeholder="Direccion")}}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        {{render_field(form.telefono, class="form-control", placeholder="Telefono")}}
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        {{render_field(form.email, class="form-control", placeholder="Email")}}
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Cargar Provedor</button>
                    </div>
                </div>
                <input type="hidden"  name="editar" value="{{ editar }}">
            </form>
        </div>
    </div>
</section>

{% endblock %}