{% extends 'layout.html' %}
{% from 'helpers/_formHelper.html' import render_field %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Tareas pendientes</h3>
            <form action="/productos" method="post">
                <div class="col-md-4">
                    {{render_field(form.productos_list, class="form-control")}}
                </div>
                <input type="submit" name="Ver Tarea" value="Aceptar" />
            </form>
        </div>
 
    </div>
</div>
    {% endblock %}
            
