{% extends 'layout.html' %}
{% from 'helpers/_formHelper.html' import render_field %}
{% block content %}
<style>
    th{ 
        color:rgba(73,155,234,1);
    }
</style>
    <div class="white-box">
        <h3 class="box-title m-t-40 m-b-0 text-center">Stock</h3>
    </div>
    <div class="col-md-12">
        <table class="table table-hover manage-u-table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Producto</th>
                    <th>Cantidad</th>  
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in materiaprima %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>
                        {{ producto.nombre }}
                    </td>
                    <td>
                        {{ producto.cantidad }} {{ producto.unidad }} 
                    </td>
                    <td>
                        <a href="{{ url_for('cargar_stock',id_materia=producto.id) }}" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
{% endblock %}